
<p>Detalhes da tarefa: {{task?.title}}</p>
<div *ngIf="task">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Titulo</label>
      <div class="modal-body">
        <input [(ngModel)]="task.title" class="form-control" type="text">
      </div>
    </div>   
    
    <div class="form-group row">
      <div class="mr-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
      <a >
        <button (click)="goBack()" class="btn btn-primary">voltar</button>
      </a>
    </div>
    
</div>

