<h1 class="page-header">Lista de tarefas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th class="ml-3">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tasks">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>
                <a class="btn btn-info mr-3" [routerLink]="['/task', item.id]">Detalhe

                </a>

                <button class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>