
<p>Teste</p>

<button (click)="onClick()">onClick() {{mouseClickCount}}</button>

<br><br>

<button (mouseover)="onMouseOver()">onClick() {{mouseOverCount}}</button>

<br><br>

<input (keydown)="keyDown($event)" placeholder="Key down">
<br>
<br>
<input (keyup)="keyUp()"placeholder="Key Up">

<strong [class.testeClass]="mouseClickCount > 3">Diego teste class property binding</strong>

<style>
.testeClass{
    background-color: red;
}
</style>