<p>DahsBoard</p>

<table class="table">
    <thead>
        <th>Titulo</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.title}}</td>
            <td>
                <a [routerLink]="['/task',task.id]" class="btn btn-info">Detalhes</a>
            </td>
        </tr>
    </tbody>
</table>